<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h2 class="mt-5 mb-5 text-center">本当に退会しますか？</h2>
      <p class="text-center">退会すると、会員登録情報や<br>
          これまでの購入履歴が閲覧できなくなります。</p>
      <p class="text-center">退会する場合は、「退会する」をクリックしてください。</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6 text-right">
      <%= link_to "退会しない", public_customer_path, class: "btn btn-primary", style: "width: 30%;" %>
    </div>
    <div class="col-5">
      <%= link_to "退会する", public_customer_withdrawal_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？", style: "width: 30%" %>
    </div>
  </div>
</div>
